.backtotop {
    position: fixed;
    right: 0.5%;
    bottom: 1%;
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #EDE9E4;
    filter: drop-shadow(2px 2px 20px blue);
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: rgb(101, 131, 152);
    width: 100%;
    height: 6vh;
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: center;
    z-index: 1;
    padding: 2.5%;
}

/*.title-wordmark {
    color: rgb(255, 255, 255);
    position: relative;
    z-index:2;

    font-size:14px;
    padding-right:50px;

    margin-top: 1.6vh;
}*/

.words {
    font-size: 20px;
    padding: 10px;
    text-align: right;
    color: white;
}

.words a {
    font-size: 20px;
    padding: 10px;
    text-align: right;
    color: white;
    text-decoration: none;
}

.navigation .words:first-child {
    margin-right: auto; /* 将第一个元素推到左侧 */
    text-align: left;
}